.sign-in {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    flex-direction: column;
 
  }
}