.time div {
  margin: 0;
  padding: 0;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
/*  border: 1px solid black;*/
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*input {
  float: right;
}
label {
  float: left;
}*/