
.listItem {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 5px;
  background-color: #0AA17A;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  font-size: 13px;
}
.listItem:hover {
  transform: scale(1.05);
}
.card {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  }
.furnSize {
  position: absolute;
  bottom: 0px;
  left: 5px;
}
.hemispheres {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  }
.nameInfo {

  }
.weatherMonths {

}
.spawnInfo {
  
  }
.price {
  display: flex;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 18px;
  }
.priceImg {
  width: 75px;
}
.monthLetter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 7px;
}