
.listItem{
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 5px;
  background-color: #0AA17A;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  cursor: pointer;
/*  backface-visibility: hidden;*/
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  font-size: 13px;
}
.listItem:hover {
  transform: scale(1.05);
}
.card{
  display: grid;
  grid-template-columns: auto auto;

  }
.hemispheres{
  display: inline-block;
  font-size: 10px;
  }
.nameInfo{

  }
.spawnInfo{
  
  }
.price{
/*  display: inline-block;
  margin: 0 auto*/
  }
.priceImg{
  width: 50px;
}
.monthLetter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 5px;
}