/*.card-list div{
	border: 1px solid black;
}*/
.card-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.count {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}
.list {
	width: 95%;
	margin: 0 auto;
	display: inline-block;
}