.App {
  text-align: center;
}

/*div {
  border: 1px solid green;
}*/

#payme {
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 8px;
  display: flex;
  color: white;
}

#payme p {
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-size: 12px;
  width: auto;
}

h1 {
  font-family: 'Bigelow Rules';
  color: #0ccac4;
}

.App-title {
  background-color: #078db3;
  display: flex;
  justify-content: center;
}

.Content {
  background-color: #78C3D8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
