body {
  font-family: 'Short Stack', cursive;
  padding: 5px 10px;
  text-align: center;
  color: #0ccac4;
}
h1 {
  font-family: 'Delius Swash Caps', cursive;
  
}
a {
  text-decoration: none;
  color: #0ccac4;
}
* {
  box-sizing: border-box;
}
 /* div {
  border: red dotted 2px;
}  */